<!-- Section Footer -->
<footer>
  <div class="social-media">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <p class="copyright">Website Developer and Design <a href="http://TWGuy.co.uk">  TWGuy.co.uk</a> &copyTWGuy 2017</p>
</footer>
