<header class="banner">
  <div class="nav">

      <li><a href="#">Home</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="#">Projects</a></li>
      <li id="date"><%= (new Date()).toDateString() %></li>
    
  </div>
</header>
