<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Title
  -------------------------->
  <title><%- title %></title>

  <!-- CSS
  ------------------------------------------>
  <link rel="stylesheet" href="css/main.css">
  <!-- Favicon
  ––––––––––––––––––––––––––––––––––––––––-->
  <link rel="icon" type="image/ico" href="img/favicon.ico">
  <!-- Here we reference a JS file that is auto generated -->
  <script src="js/app.js"></script>

</head>
<body class="site">

  <%- partial("ejs/partial/_header") %>

  <%- yield %>

  <%- partial("ejs/partial/_footer") %>


</body>
</html>
